$base-theme-lighten-01: #eceff1;
$base-theme-lighten-02: #cfd8dc;
$base-theme-lighten-03: #b0bec5;
$base-theme: #607d8b;
$base-theme-darken-01: #546e7a;
$base-theme-darken-02: #37474f;
$base-theme-darken-03: #263238;

$danger: #c62828;
$warning: #ff9100;
$info: #0277bd;
$success: #76ff03;