@font-face {
  font-family: 'dogs-theme';
  src: url('../../fonts/Spartan-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'dogs-theme-semi-bold';
  src: url('../../fonts/Spartan-SemiBold.ttf') format('truetype');
  font-weight: bold;
}